.card-container{
  .card{
    background-image:url("https://i.pickadummy.com/300x150?greyscale=yes");
    background-size: cover;
    background-position: center;
    &:hover{
      transition: 2ms;
      transform: scale(0.99);
    }
  }
  h5{
    color:white;
  }
}
